microcontroller/TinyGPSPlus/
*.gpx
*.csv
*.kml
definitions.h
db_login.txt
parse_csv_coords.py
login.js
http-handler/db_login.py
.vscode/settings.json
__pycache__
website/connect_db.php
all.code-workspace
