        body {
            margin: 0;
            padding: 0;
        }
        .sidebar {
            height: 85vh;
            width: 0;
            position: fixed;
            z-index: 999;
            top: 0;
            right: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.1s;
            padding-top: 60px;
        }
        .sidebar a {
            padding: 8px 8px 8px 100px;
            margin: 0px 0px 0px 60px;
            text-decoration: none;
            font-size: 60px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }
        .sidebar a:hover {
            color: #f1f1f1;
        }
        .sidebar .closebtn {
            position: absolute;
            top: 0;
            left: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: rgb(41, 45, 48);
            color: white;
            padding: 1.5% 1%;
            border: none;
            width: 250px;
            height: 5%;
        }
        .mobilebtn {
            font-size: 70px;
            cursor: pointer;
            background-color: rgb(41, 45, 48);
            color: white;
            padding: 1.5% 1%;
            border: none;
            width: 0%;
            height: 0%;
        }
        .top li a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 1% 1%;
            text-decoration: none;
            font-family:georgia,garamond,serif;
            font-size:16px;
            font-style:italic;
            height: 5%;
        }
        li a:hover:not(.active) {
            background-color: #9E9E9E;
        }
        ul.top {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(41, 45, 48);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 5%;
            z-index: 999
        }   
        .mapdisplay {
            height: 95vh; 
            width: 100vw; 
            top: 5vh;
        }
        select { 
            appearance: none; 
            outline: 0; 
            padding: 1.5%;
            background: rgb(231, 231, 231); 
            background-image: none; 
            width: 15vw; 
            height: 5%; 
            color: black; 
            cursor: pointer; 
            border:1px solid rgb(192, 192, 192); 
        } 
        .select { 
            position: relative; 
            display: block; 
            width: 15em; 
            height: 2em; 
            line-height: 3; 
            overflow: hidden; 
            border-radius: .25em; 
            padding-bottom:10px; 
              
        }
        .button {
            position: relative;
            background-color: #4CAF50;
            border: none;
            font-size: 15px;
            color: #FFFFFF;
            height: 50px;
            width: 80px;
            text-align: center;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            text-decoration: none;
            overflow: hidden;
            cursor: pointer;
          }
          
          .button:after {
            content: "";
            background: #90EE90;
            display: block;
            position: absolute;
            padding-top: 300%;
            padding-left: 350%;
            margin-left: -20px!important;
            margin-top: -120%;
            opacity: 0;
            transition: all 0.8s
          }
          
          .button:active:after {
            padding: 0;
            margin: 0;
            opacity: 1;
            transition: 0s
          }


        @media only screen and (min-device-width: 1081px){
        
        }
        @media only screen and (max-device-width: 1080px){
            ul.top{
                visibility: hidden;
            }
            .top li a {
                visibility: hidden;
            }
            li a:hover:not(.active) {
               visibility: hidden;
            }
            .mapdisplay {
                top: 0;
                height: 85vh;
            }
            .mobilebtn {
                height: 15vh;
                width: 100%;
            }
        }